<%= form_for @io_task, :html => { :class => "form-horizontal io_task" } do |f| %>
  <% if @io_task.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@io_task.errors.count, "处校验错误").to_s.chop %>:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @io_task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :出入库类型, :class => 'control-label col-md-2 col-lg-2' %>
    <div class="col-md-8 col-lg-8">
      <input class="form-control" type="text" name="io_type" value="<%=codeName :io_type , @io_task.io_type%>" readonly="readonly">
    </div>
  </div>

  <div class="form-group">
    <%= f.label :出入库原因, :class => 'control-label col-md-2 col-lg-2' %>
    <div class="col-md-8 col-lg-8">
      <%= f.collection_select(:io_reason, getPCodes("io_in_reason"), :code, :name , {},:class => "form-control") if @io_task.io_type == "in" %>
      <%= f.collection_select(:io_reason, getPCodes("io_out_reason"), :code, :name , {},:class => "form-control") if @io_task.io_type == "out" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-md-8 col-lg-8">
      <%= f.submit "保存", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                io_tasks_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
