<%- model_class = IoTask -%>
<% provide(:title, "成品库管理 / 出入库管理") %>

<div class="page-body">
  <%= form_tag("/io_tasks", method: "get") do %>
  <div class="widget-body bordered-left bordered-warning form-inline">
    <div class="form-group col-lg-2" >
      <select class="form-control" name="io_type" id="io_type" style="width: 100%">
        <option value="">--出入库类别--</option>
        <%= options_from_collection_for_select( getPCodes(:io_type), :code, :name) %>
      </select>
    </div>
    
    <div class="form-group col-lg-2" >
      <select class="form-control" name="io_reason" id="io_reason" style="width: 100%">
        <option value="">--出入库原因--</option>
        <%= options_from_collection_for_select( getPCodes(:io_in_reason), :code, :name) %>
        <%= options_from_collection_for_select( getPCodes(:io_out_reason), :code, :name) %>
      </select>
    </div>

    <div class="form-group col-lg-2" >
      <select class="form-control" name="status" id="status" style="width: 100%">
        <option value="">--状态--</option>
        <%= options_from_collection_for_select( getPCodes(:io_status), :code, :name) %>
      </select>
    </div>
    
    <input id="subLogin" class="btn btn-primary" name ="subLogin" type="submit" value="查询" />
  </div>
  <% end %>
  
  <table  class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>出入库类别</th>
        <th>出入库原因</th>
        <th>发起人</th>
        <th>审批人</th>
        <th>执行人</th>
        <th>状态</th>
        <th>申请时间</th>
        <th>出入库时间</th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody>
      <% @io_tasks.each do |io_task| %>
      <tr>
        <td><%= link_to codeName(:io_type,io_task.io_type), io_task_path(io_task) %></td>
        <td><%=codeName :io_out_reason,io_task.io_reason if io_task.io_type.eql? "out"%>
          <%=codeName :io_in_reason,io_task.io_reason if io_task.io_type.eql? "in"%>
        </td>
        <td><%= io_task.applyUser.user_name unless io_task.applyUser.nil? %></td>
        <td><%= io_task.checkUser.user_name unless io_task.checkUser.nil? %></td>
        <td><%= io_task.execUser.user_name unless io_task.execUser.nil? %></td>
        <td><%= codeName :io_status, io_task.status %></td>
        <td><%= io_task.created_at%></td>
        <td><%= io_task.io_at == nil ? "" : io_task.io_at.to_s%></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
          io_task_path(io_task),
          :method => :delete,
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-xs btn-danger' unless io_task.status == "after_out"%>
          

          <%= link_to(check_io_task_path(io_task),:class => 'btn btn-success btn-xs') do %>
            审批通过 <i class="fa fa-check right"></i>
          <% end if io_task.status == "before_examine"%>

          <%= link_to(out_io_task_path(io_task),:class => 'btn btn-primary btn-xs') do %>
            执行<%=codeName(:io_type,io_task.io_type)%> <i class="fa fa-shopping-cart"></i></i>
          <% end if io_task.status == "after_examine"%>

          </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div style="text-align:right" >
    <%=paginate@io_tasks%>
  </div>

  <div class="form-title" align="left">
    <a class="btn btn-default purple" href="<%=new_io_task_path%>?io_type=in"><i class="fa fa-plus"></i>入库申请</a>
    <a class="btn btn-primary" href="<%=new_io_task_path%>?io_type=out"><i class="fa fa-shopping-cart"></i>出库申请</a>
  </div>

</div>

<script type="text/javascript">
  $(function() {

  });
  

</script>