<%- model_class = User -%>
<% provide(:title, "库存管理 / 项目库 / 详情") %>
<div class="col-lg-12">
  <div class="tabbable">
    <ul class="nav nav-tabs tabs-flat  nav-justified" id="myTab11">
      <li class="active">
        <a data-toggle="tab" href="#overview">
          项目信息
        </a>
      </li>
      <li class="tab-red">
        <a data-toggle="tab" href="#material">
          项目使用配件
        </a>
      </li>
      <li class="tab-palegreen">
        <a data-toggle="tab" href="#product">
          项目使用产品
        </a>
      </li>
    </ul>
    <!-- 导航 -->

    <div class="tab-content tabs-flat">
      <!-- 项目简介 -->
      <div id="overview" class="tab-pane active">
        <div class="form-horizontal user">
          <div class="form-group">
            <label class="control-label col-md-2 col-lg-2">项目名称</label>
            <div class="col-md-8 col-lg-8">
              <input class="form-control" type="text" value="<%=@project.name%>" readonly="readonly">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2 col-lg-2">项目状态</label>
            <div class="col-md-8 col-lg-8">
              <input class="form-control" type="text" value="<%= codeName :project_status, @project.status %>" readonly="readonly">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2 col-lg-2">计划时间</label>
            <div class="col-md-8 col-lg-8">
              <input class="form-control" type="text" value="<%=@project.plan_start_time%> 至 <%=@project.plan_end_time%>" readonly="readonly">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2 col-lg-2">实际时间</label>
            <div class="col-md-8 col-lg-8">
              <input class="form-control" type="text" value="<%=@project.start_time%> 至 <%=@project.end_time%>" readonly="readonly">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-2 col-lg-2">项目负责人</label>
            <div class="col-md-8 col-lg-8">
              <input class="form-control" type="text" value="<%=@project.charge%>" readonly="readonly">
            </div>
          </div>

        </div>
      </div>
      <!-- end项目简介 -->

      <!-- 配件 -->
      <div id="material" class="tab-pane">
        <div class="form-title" align="right">
          <a class="btn btn-default purple" href="javascript:void(0);"><i class="fa fa-plus"></i>备货入库</a>
          <a class="btn btn-default purple" href="javascript:void(0);"><i class="fa fa-plus"></i>未使用物料退库</a>
          <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-shopping-cart"></i>安装出库</a>
        </div>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th><h5 class="no-margin-bottom text-center">物料名称</h5></th>
              <th><h5 class="no-margin-bottom text-center">物料编码</h5></th>
              <th><h5 class="no-margin-bottom text-center">项目需求数量</h5></th>
              <th><h5 class="no-margin-bottom text-center">已备货数量</h5></th>
              <th><h5 class="no-margin-bottom text-center">已装现场数量</h5></th>
              <th><h5 class="no-margin-bottom text-center">含税单价</h5></th>
              <th><h5 class="no-margin-bottom text-center">总价</h5></th>
            </tr>
          </thead>
          <tbody>
            <% sub_totle = 0;
            @project.projectMaterials.map {|projectMaterial|  
              sub_totle += projectMaterial.material.after_tax * projectMaterial.need_num%>
              <tr>
                <td class="text-center"><%= link_to projectMaterial.material.material_name, material_path(projectMaterial.material.id) %></td>
                <td class="text-center"><%=projectMaterial.material.material_code%></td>
                <td class="text-center"><%=projectMaterial.need_num%>（<%=projectMaterial.material.unit%>）</td>
                <td class="text-center"><%=projectMaterial.stock_num%>（<%=projectMaterial.material.unit%>）</td>
                <td class="text-center"><%=projectMaterial.project_num%>（<%=projectMaterial.material.unit%>）</td>
                <td class="text-center"><%=projectMaterial.material.after_tax%></td>
                <td class="text-center"><%=projectMaterial.material.after_tax * projectMaterial.need_num%></td>
              </tr>
              <%} %>
              <tr>
                <td colspan="5" class="invisible bg-snow"></td>
                <td class="text-center">配件总价</td>
                <td class="text-center"><%=sub_totle%></td>
              </tr>
            </tbody>
          </table>
        </div>
      <!-- end 配件 -->

      <!-- 产品 -->
      <div id="product" class="tab-pane">
        <div class="form-title" align="right">
          <a class="btn btn-default purple" href="javascript:void(0);"><i class="fa fa-plus"></i>备货入库</a>
          <a class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-shopping-cart"></i>安装出库</a>
        </div>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th><h5 class="no-margin-bottom text-center">产品名称</h5></th>
              <th><h5 class="no-margin-bottom text-center">物料编码</h5></th>
              <th><h5 class="no-margin-bottom text-center">项目需求数量</h5></th>
              <th><h5 class="no-margin-bottom text-center">已备货数量</h5></th>
              <th><h5 class="no-margin-bottom text-center">已装现场数量</h5></th>
              <th><h5 class="no-margin-bottom text-center">含税单价</h5></th>
              <th><h5 class="no-margin-bottom text-center">总价</h5></th>
            </tr>
          </thead>
          <tbody>
            <% sub_totle = 0;
            @project.projectProducts.map {|projectProduct|  
              sub_totle += projectProduct.product.after_tax * projectProduct.need_num%>
              <tr>
                <td class="text-center"><%= link_to projectProduct.product.material_name, product_path(projectProduct.product.id) %></td>
                <td class="text-center"><%=projectProduct.product.material_code%></td>
                <td class="text-center"><%=projectProduct.need_num%></td>
                <td class="text-center"><%=projectProduct.stock_num%></td>
                <td class="text-center"><%=projectProduct.project_num%></td>
                <td class="text-center"><%=projectProduct.product.after_tax%></td>
                <td class="text-center"><%=projectProduct.product.after_tax * projectProduct.need_num%></td>
              </tr>
              <%} %>
              <tr>
                <td colspan="5" class="invisible bg-snow"></td>
                <td class="text-center">产品总价</td>
                <td class="text-center"><%=sub_totle%></td>
              </tr>
            </tbody>
          </table>
      </div>
      <!-- end产品 -->

    </div>

  </div>
</div>





<div style="text-align:center;" >
  <%= link_to t('.back', :default => t("helpers.links.back")),
  projects_path, :class => 'btn btn-default'  %>
</div>