<%- model_class = IoTask -%>
<% provide(:title, "配件库管理 / 出入库管理") %>

<div class="page-body">
  <%= form_tag("/io_tasks", method: "get") do %>
  <div class="widget-body bordered-left bordered-warning form-inline">
    <div class="form-group col-lg-2" >
      <select class="form-control" name="io_type" id="io_type" style="width: 100%">
        <option value="">--出入库类别--</option>
        <%= options_from_collection_for_select( getPCodes(:io_type), :code, :name) %>
      </select>
    </div>
    
    <div class="form-group col-lg-2" >
      <select class="form-control" name="io_reason" id="io_reason" style="width: 100%">
        <option value="">--出入库原因--</option>
        <%= options_from_collection_for_select( getPCodes(:io_in_reason), :code, :name) %>
        <%= options_from_collection_for_select( getPCodes(:io_out_reason), :code, :name) %>
      </select>
    </div>

    <div class="form-group col-lg-2" >
      <select class="form-control" name="status" id="status" style="width: 100%">
        <option value="">--状态--</option>
        <%= options_from_collection_for_select( getPCodes(:io_status), :code, :name) %>
      </select>
    </div>
    
    <input id="subLogin" class="btn btn-primary" name ="subLogin" type="submit" value="查询" />
  </div>
  <% end %>
  
  <table  class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>出入库类别</th>
        <th>出入库原因</th>
        <th>出入库时间</th>
        <th>发起人</th>
        <th>执行人</th>
        <th>状态</th>
      </tr>
    </thead>

    <tbody>
      <% @io_tasks.each do |io_task| %>
      <tr>
        <td><%=codeName :io_type,io_task.io_type%></td>
        <td><%=codeName :io_out_reason,io_task.io_reason if io_task.io_type.eql? "out"%>
          <%=codeName :io_in_reason,io_task.io_reason if io_task.io_type.eql? "in"%>
        </td>
        <td><%= io_task.io_at == nil ? "" : io_task.io_at.to_s%></td>
        <td><%= io_task.applyUser.user_name unless io_task.applyUser.nil? %></td>
        <td><%= io_task.execUser.user_name unless io_task.execUser.nil? %></td>
        <td><%= codeName :io_status, io_task.status %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div style="text-align:right" >
    <%=paginate@io_tasks%>
  </div>

  <div class="form-title" align="left">
    <a class="btn btn-default purple" href="<%=new_io_task_path%>?io_type=in"><i class="fa fa-plus"></i>入库</a>
    <a class="btn btn-primary" href="<%=new_io_task_path%>?io_type=out"><i class="fa fa-shopping-cart"></i>出库</a>
  </div>

</div>

<script type="text/javascript">
  $(function() {

  });
  

</script>