<%= form_with(model: storage_product, local: true) do |form| %>
  <% if storage_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(storage_product.errors.count, "error") %> prohibited this storage_product from being saved:</h2>

      <ul>
        <% storage_product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :num %>
    <%= form.number_field :num %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
