<%- model_class = Material -%>
<% provide(:title, "基础档案 / 配件档案 / 配件详情") %>
<div class="form-horizontal material">
  <div class="form-group">
    <label class="control-label col-md-2 col-lg-2">物料名称</label>
    <div class="col-md-8 col-lg-8">
      <input class="form-control" type="text" value="<%=@material.material_name%>" readonly="readonly">
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-md-2 col-lg-2">设备类别</label>
    <div class="col-md-8 col-lg-8">
      <input class="form-control" type="text" readonly="readonly" value="<%=@material.material_type%>" id="product_material_type">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2 col-lg-2">物料编码</label>
    <div class="col-md-8 col-lg-8">
      <input class="form-control" type="text" value="<%=@material.material_code%>" readonly="readonly">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2 col-lg-2">规格型号</label>
    <div class="col-md-8 col-lg-8">
      <input class="form-control" type="text" value="<%=@material.specs%>" readonly="readonly">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2 col-lg-2">单位</label>
    <div class="col-md-8 col-lg-8">
      <input class="form-control" type="text" value="<%=@material.unit%>" readonly="readonly">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2 col-lg-2">库存预警数量</label>
    <div class="col-md-8 col-lg-8">
      <input class="form-control" value="<%=@material.lower_num%>" readonly="readonly">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2 col-lg-2">品牌</label>
    <div class="col-md-8 col-lg-8">
      <input class="form-control" type="text" value="<%=@material.brand%>" name="product[brand]" id="product_brand">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2 col-lg-2">供应商</label>
    <div class="col-md-8 col-lg-8">
      <input class="form-control" type="text" value="<%=@material.supplier%>" readonly="readonly">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2 col-lg-2">税率</label>
    <div class="col-md-8 col-lg-8">
      <input class="form-control" type="text" value="<%=@material.tax_rate%>" readonly="readonly">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2 col-lg-2">未税单价</label>
    <div class="col-md-8 col-lg-8">
      <input class="form-control" type="text" value="<%=@material.before_tax%>" readonly="readonly">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2 col-lg-2">含税单价</label>
    <div class="col-md-8 col-lg-8">
      <input class="form-control" type="text" value="<%=@material.after_tax%>" readonly="readonly">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2 col-lg-2">创建人</label>
    <div class="col-md-8 col-lg-8">
      <input class="form-control" type="text" value="<%=@material.user.user_name%>" readonly="readonly">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2 col-lg-2">备注</label>
    <div class="col-md-8 col-lg-8">
      <textarea class="form-control" readonly="readonly"><%=@material.remark%></textarea>
    </div>
  </div>
</div>

<div style="text-align:center;" >
  <%= link_to t('.back', :default => t("helpers.links.back")),
              "javascript:window.history.back(-1);", :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_material_path(@material), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              material_path(@material),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>