
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>仓储管理</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta name="description" content="sparkline charts" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="/bootstraptmp/img/favicon.png" type="image/x-icon">

  <!--Basic Styles-->
  <link href="/bootstraptmp/css/bootstrap.min.css" rel="stylesheet" />
  <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
  <link href="/bootstraptmp/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/bootstraptmp/css/weather-icons.min.css" rel="stylesheet" />

  <!--Fonts-->

  <!--Beyond styles-->
  <link id="beyond-link" href="/bootstraptmp/css/beyond.min.css" rel="stylesheet" />
  <link href="/bootstraptmp/css/demo.min.css" rel="stylesheet" />
  <link href="/bootstraptmp/css/typicons.min.css" rel="stylesheet" />
  <link href="/bootstraptmp/css/animate.min.css" rel="stylesheet" />
  <link id="skin-link" href="" rel="stylesheet" type="text/css" />

  <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
  <script src="/bootstraptmp/js/skins.min.js"></script>
</head>
<!-- /Head -->
<!-- Body -->
<body>

  <!-- Navbar -->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="navbar-container">
        <!-- Navbar Barnd -->
        <div class="navbar-header pull-left">
          <a href="#" class="navbar-brand">
            <h2 style="margin-top: 5px;">仓储管理</h2>
          </a>
        </div>
        <!-- /Navbar Barnd -->
        <!-- Sidebar Collapse -->
        <div class="sidebar-collapse" id="sidebar-collapse">
          <i class="collapse-icon fa fa-bars"></i>
        </div>
        <!-- /Sidebar Collapse -->
        <!-- Account Area  -->
        <div class="navbar-header pull-right">
          <div class="navbar-account">
            <ul class="account-area">
              <li>
                <a class="login-area dropdown-toggle" data-toggle="dropdown">
                  <div class="avatar" title="View your public profile">
                    <img src="/bootstraptmp/img/avatars/adam-jansen.jpg">
                  </div>
                  <section>
                    <h2><span class="profile">
                            <span>
                                <%=current_user.user_name%>,您好！
                            </span>
                    </span></h2>
                  </section>
                </a>

              </li>
              <li>
                <a class="login-area dropdown-toggle" href="/logout">
                  
                  <section>
                    <h2><span class="profile">
                            <span>
                               退出登录
                            </span>
                    </span></h2>
                  </section>
                </a>
              </li>
            </ul>

            
          </div>
        </div>
        <!-- /Account Area  -->
      </div>
    </div>
  </div>
  <!-- /Navbar -->
  <!-- Main Container -->
  <div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
      <!-- Page Sidebar -->
      <div class="page-sidebar" id="sidebar">

        <!-- Sidebar Menu -->
        <ul class="nav sidebar-menu">
          <!--Dashboard-->
          <li>
            <a href="/home">
              <i class="menu-icon glyphicon glyphicon-home"></i>
              <span class="menu-text"> 首页 </span>
            </a>
          </li>

          <!--系统管理-->
          <li>
            <a href="#" class="menu-dropdown">
              <i class="menu-icon typcn typcn-user"></i>
              <span class="menu-text"> 系统管理 </span>

              <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
              <li>
                <%=link_to '用户管理' , '/users'%>
                
              </li>
              <li>
                <a href="/p_codes">
                  <span class="menu-text">码值维护</span>
                </a>
              </li>
            </ul>
          </li>
          <!--系统管理-->


          <!--基础档案-->
          <li class="">
            <a href="#" class="menu-dropdown">
              <i class="menu-icon fa fa-desktop"></i>
              <span class="menu-text"> 基础档案 </span>

              <i class="menu-expand"></i>
            </a>

            <ul class="submenu" style="display: none;">
              <li>
                <a href="/materials">
                  <span class="menu-text">配件档案</span>
                </a>
              </li>
              <li>
                <a href="/products">
                  <span class="menu-text">产品档案</span>
                </a>
              </li>
              
            </ul>
          </li>
          <!--基础档案-->

          <!--库存管理-->
          <li class="">
            <a href="#" class="menu-dropdown">
              <i class="menu-icon typcn typcn-shopping-bag"></i>
              <span class="menu-text"> 库存管理 </span>

              <i class="menu-expand"></i>
            </a>

            <ul class="submenu" style="display: none;">
              <li>
                <a href="/materials">
                  <span class="menu-text">原材料库</span>
                </a>
              </li>
              <li>
                <a href="/products">
                  <span class="menu-text">成品库</span>
                </a>
              </li>
              <li>
                <a href="/projects">
                  <span class="menu-text">项目库</span>
                </a>
              </li>
            </ul>
          </li>
          <!--基础档案-->

        </ul>
        <!-- /Sidebar Menu -->
      </div>
      <!-- /Page Sidebar -->
      <!-- Page Content -->
      <div class="page-content">
        <!-- Page Body -->
        
        <!--title-->
        <div class="page-breadcrumbs" >
          <ul class="breadcrumb">
            <li>
              <i class="fa fa-home"></i>
              <%=yield(:title)%>
            </li>
          </ul>
        </div>
      </br>
        <!--闪现消息-->
        <% flash.each do |message_type, message| %>
        <div class="alert alert-success fade in">
          <button class="close" data-dismiss="alert">
            ×
          </button>
          <i class="fa-fw fa fa-check"></i>
          <%= message %>
        </div>
        <% end %>

        <%= yield %> 
        <!--debugger 信息-->
        <div>
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
      <!-- /Page Body -->
    </div>
    <!-- /Page Content -->
  </div>
  <!-- /Page Container -->
  <!-- Main Container -->

</div>

<!--Basic Scripts-->
<script src="/bootstraptmp/js/jquery-2.0.3.min.js"></script>
<script src="/bootstraptmp/js/bootstrap.min.js"></script>

<!--Beyond Scripts-->
<script src="/bootstraptmp/js/beyond.min.js"></script>
<script src="/bootstraptmp/js/datetime/bootstrap-datepicker.js"></script>
<script src="/bootstraptmp/js/locales/bootstrap-datepicker.zh-CN.min.js"></script>

</body>
</html>
