<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>Login Page</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/bootstraptmp/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="/bootstraptmp/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="/bootstraptmp/css/font-awesome.min.css" rel="stylesheet" />


    <!--Beyond styles-->
    <link id="beyond-link" href="/bootstraptmp/css/beyond.min.css" rel="stylesheet" />
    <link href="/bootstraptmp/css/demo.min.css" rel="stylesheet" />
    <link href="/bootstraptmp/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="bootstraptmp/js/skins.min.js"></script>
</head>
<!--Head Ends-->
<!--Body-->
<body>
    <div class="login-container animated fadeInDown">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %> 
    </div>

    <!--Basic Scripts-->
    <script src="/bootstraptmp/js/jquery-2.0.3.min.js"></script>
    <script src="/bootstraptmp/js/bootstrap.min.js"></script>
    <!--Beyond Scripts-->
    <script src="/bootstraptmp/js/beyond.js"></script>

</body>
<!--Body Ends-->
</html>

